@using BullySquasher.Models
@*@model IEnumerable<BullySquasher.Models.Parent>*@

@{
    ViewBag.Title = "Parent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Activity at a Glance</h2>

        @if (Model == null)
        {
            <text>No information is avaliable</text>
        }
        else
        {
            foreach (var child in Model.Children)
            {
                <hr/>
                <h3>@child.Name</h3>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 col-lg-12">
                    @if (child.ChildDevices.Count > 0)
                    {
                        foreach (var device in child.ChildDevices)
                        {
                            <table class="table table-striped table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th>
                                            Messages - @device.Name (<em>@device.DeviceType.Name</em>)
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (device.ChildMessagesList != null && device.ChildMessagesList.Count > 0)
                            {
                                foreach (var message in device.ChildMessagesList)
                                {
                                            <tr class=@(message.IsBullyMessage ? "danger" : "success")
                                                onclick="location.href = '@(Url.Action("ChangeIsBullyMessage", "ChildMessage", new {id = message.Id}))'">
                                                <td><strong>@message.DateCreated</strong><text> - @message.Message</text></td>
                                                @*                                    @Html.AntiForgeryToken()*@
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td>No Messages</td></tr>
                                    }
                                </tbody>
                            </table>
                            @*                            @Html.ActionLink("more ...", "Index", "Child", new { id = child.Id })*@
                        }
                    }
                    else
                    { <text> No Assigned Devices. - </text> @Html.ActionLink("Add Devices", "Create", "ChildDevices", new { id = child.Id }, null)}
                </div>
            }
        }
    </div>
</div>